<div class="container mb-5">
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
    <% @products.each do |product| %>
      <div class="col">
        <div class="card h-100">
          <%= image_tag("products/#{product.image}", class: "card-img-top", alt: product.name) if product.image.present? %>
          <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>
            <p class="card-text"><%= product.description %></p>
            <p class="card-text"><small class="text-muted">Sold by: <%= product.brand %></small></p>
            <p class="card-text"><small class="text-muted">Stock: <%= product.stock_quantity %></small></p>
            <h6><%= number_to_currency(product.price) %></h6>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
